node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache
# AWS CLI installer files
setup/terraform/aws/
setup/terraform/awscliv2.zip

# Terraform state
*.tfstate
